.NavigationBar{
  background-color: white;
  height: 107px;
}

.AppName{
  height: 107px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: bolder;
  color: #505050;
}

.SearchBar{
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Input{
  height: 40px;
  width: 80vmax;
  background-color: white;
}

.Submit{
  position: absolute;
  height: 40px;
  width: 115px;
  background-color: #505050;
  color: white;
  cursor: pointer;
  right: 10%;
}